  <div id="add-form-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Legal! Preencha o formulário para divulgar</h1>
      </div>
      <div id="form-box" class="col-md-12">
        <form action="/pets/add" method="POST">
          <div class="form-group">
            <label for="Nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="Nome" placeholder="Digite o nome do pet" required>
          </div>
          <div class="form-group">
            <label for="raca">Raça:</label>
            <input type="text" class="form-control" id="raca" name="Raca" placeholder="Descreva a raça do pet" required></input>
          </div>
          <div class="form-group">
            <label for="Idade">Idade:</label>
            <input type="text" class="form-control" id="idade" name="Idade" placeholder="Digite a idade do seu pet" required>
          </div>
          <div class="form-group">
            <label for="Peso">Peso:</label>
            <input type="text" class="form-control" id="peso" name="Peso" placeholder="Digite o peso do seu pet" required>
          </div>
          <div class="form-group">
            <label for="Cidade">Cidade:</label>
            <input type="text" class="form-control" id="cidade" name="Cidade" placeholder="Qual a cidade que mora o pet?" required>
          </div>
          <div class="form-group">
            <label for="Email">E-mail para contato:</label>
            <input type="email" class="form-control" id="email" name="Email" placeholder="Digite o e-mail para contato" required>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>