  <div id="add-form-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Legal! Preencha o formulário para se cadastrar/h1>
      </div>
      <div id="form-box" class="col-md-12">
        <form action="/users/add" method="POST">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o seu nome" required>
          </div>
          <div class="form-group">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Qual a sua cidade?" required>
          </div>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail para contato" required>
          </div>
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Crie a sua senha" required>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>